.personal-profile-main-container{
    width: 100%;
}
.deposit-withdraw-buttons button{
    background-color: transparent;
    width: 100px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid gray;
}
@media(max-width:768px){
    .usd-balance{
        font-size: 18px;
    }
    .balance-txt{
        font-size: 12px;
    }
}