.trending-crypto-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.crypto-search-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.selected-crypto-main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.selected-crypto-buttons-container{
    display: flex;
    gap: 20px;
}
.minimum-trading-amount-container, .maximum-trading-amount-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid rgb(55, 64, 82);
    padding-bottom: 5px;
}
.minimum-trading-amount-container p, .maximum-trading-amount-container p{
    color: gray;
}
.minimum-trading-amount-container span, .maximum-trading-amount-container span{
    color: gray;
}
.trading-page-coontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.crypto-search-container input{
    background-color: transparent;
}
.trending-and-buysell{
    width: 100%;
    display: flex;
    gap: 20px;
}

@media(max-width:378px){
    .trade-popup-main-cont{
        margin-bottom: 140px;
        height: 100%;
    }
}
@media(max-width:768px){
    .trending-and-buysell{
        flex-direction: column;
        gap: 0;
    }
}