.profile-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.profile-page-container-lower{
    width: 100%;
}
.profilePage-sidebar{
    width: 100%;
}
.profile-content{
    width: 100%;
}
.profile-main-content-container{
    width: 100%;
}

@media (max-width:768px){
    .profile-page-container{
        display: flex;
        flex-direction: column;
    }
    .profile-page-container .profilePage-sidebar{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .profile-content{
        width: 100%;
    }
}