@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}